.header {
    background-color: black;
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 100%;
    text-align: center;
    vertical-align: center;
    margin-bottom: 20px;
    min-height: 400px;
    padding-bottom: 100px;
}

.header h1 {
    margin: 0;
    margin-bottom: 50px;
    font-size: 3.5em;
}

header h2 {
    font-size: 1.8em;
}